<UserScriptConfig><Script basedir="WlanKomplett" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Zeigt die komplette wlan liste des speedport W 701v an" enabled="true" noframes="false" filename="WlanKomplett.user.js" installTime="1441139272000" modified="1441147851000" name="WlanKomplett" namespace="WlanKomplett" runAt="document-end" updateMetaStatus="unknown" uuid="ac63116f-06ff-417c-af08-1cb6bea7f44d" version="1" installurl="file:///home/eiamnacken/.mozilla/firefox/er9ln1sv.default/gm_scripts/WlanKomplett/WlanKomplett.user.js" updateurl="file:///home/eiamnacken/.mozilla/firefox/er9ln1sv.default/gm_scripts/WlanKomplett/WlanKomplett.user.js"><Grant>unsafeWindow</Grant><Include>http://speedport.ip/html/top_start_passwort.htm</Include></Script>
</Userscript>
